@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,900&display=swap');
*{box-sizing: border-box; margin: 0; padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background: url(./img/pizza.jpg) no-repeat center/cover;
}
:root{
    --black: #000;
    --white: #fff;
    --crimson: #dc143c;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 680px;
    color: var(--black);
    gap: 15px;
}
h1{
    font-size: 60px;
    font-weight: 900;
    color: var(--white);
    text-shadow: 50px 0px 50px var(--black);
}
p{
    font-size: 30px;
    font-weight: 700;
    color: var(--white);
    text-shadow: 50px 0px 50px var(--black);
}

#input{
    border: none;
    height: 40px;
    width: 220px;
    border-radius: 10px;
    padding-left: 10px;

    font-family: 'Poppins', sans-serif;
}
button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    font-weight: 600;
}
#input, button:focus{
    outline: none;
}
button:hover{
    color: var(--white);
    background: var(--black);
}


.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 7c00;
    text-transform: uppercase;
    height: 30px;
    background: var(--white);
}
small{
    font-weight: 600;
    color: var(--crimson);
    background:var(--black);
    font-size: 14px;
    text-align: center;
}
.container-pizzas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 750px;
    color: white;
    background: var(--black);
    border-radius: 10px;;
}
h2, h4{
    color: white;
    font-size: 25px;
    text-shadow: 50px 0px 50px var(--black);
}